<%- include('../partials/header'); -%>
<div class="dashboard-area pt-120 mb-120">
    <div class="container">
        <div class="row g-lg-4 gy-5 mb-90">
            <div class="col-lg-3">
                <div class="dashboard-sidebar">
                    <div class="single-widget mb-60">
                        <div class="dashboard-menu">
                            <ul>
                                <li>
                                    <a href="/users/<%= user._id %>">
                                        <svg width="18" height="18" viewBox="0 0 18 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.125 6H1.125C0.50475 6 0 5.49525 0 4.875V1.125C0 0.50475 0.50475 0 1.125 0H7.125C7.74525 0 8.25 0.50475 8.25 1.125V4.875C8.25 5.49525 7.74525 6 7.125 6ZM1.125 0.75C0.91875 0.75 0.75 0.918 0.75 1.125V4.875C0.75 5.082 0.91875 5.25 1.125 5.25H7.125C7.33125 5.25 7.5 5.082 7.5 4.875V1.125C7.5 0.918 7.33125 0.75 7.125 0.75H1.125Z" />
                                            <path
                                                d="M7.125 17.9998H1.125C0.50475 17.9998 0 17.495 0 16.8748V8.62476C0 8.00451 0.50475 7.49976 1.125 7.49976H7.125C7.74525 7.49976 8.25 8.00451 8.25 8.62476V16.8748C8.25 17.495 7.74525 17.9998 7.125 17.9998ZM1.125 8.24976C0.91875 8.24976 0.75 8.41776 0.75 8.62476V16.8748C0.75 17.0818 0.91875 17.2498 1.125 17.2498H7.125C7.33125 17.2498 7.5 17.0818 7.5 16.8748V8.62476C7.5 8.41776 7.33125 8.24976 7.125 8.24976H1.125Z" />
                                            <path
                                                d="M16.8755 17.9998H10.8755C10.2552 17.9998 9.75049 17.495 9.75049 16.8748V13.1248C9.75049 12.5045 10.2552 11.9998 10.8755 11.9998H16.8755C17.4957 11.9998 18.0005 12.5045 18.0005 13.1248V16.8748C18.0005 17.495 17.4957 17.9998 16.8755 17.9998ZM10.8755 12.7498C10.6692 12.7498 10.5005 12.9178 10.5005 13.1248V16.8748C10.5005 17.0818 10.6692 17.2498 10.8755 17.2498H16.8755C17.0817 17.2498 17.2505 17.0818 17.2505 16.8748V13.1248C17.2505 12.9178 17.0817 12.7498 16.8755 12.7498H10.8755Z" />
                                            <path
                                                d="M16.8755 10.5H10.8755C10.2552 10.5 9.75049 9.99525 9.75049 9.375V1.125C9.75049 0.50475 10.2552 0 10.8755 0H16.8755C17.4957 0 18.0005 0.50475 18.0005 1.125V9.375C18.0005 9.99525 17.4957 10.5 16.8755 10.5ZM10.8755 0.75C10.6692 0.75 10.5005 0.918 10.5005 1.125V9.375C10.5005 9.582 10.6692 9.75 10.8755 9.75H16.8755C17.0817 9.75 17.2505 9.582 17.2505 9.375V1.125C17.2505 0.918 17.0817 0.75 16.8755 0.75H10.8755Z" />
                                        </svg>
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="/users/<%= user._id %>/edit">
                                        <svg width="18" height="18" viewBox="0 0 18 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18 9C18 4.02595 13.9747 0 9 0C4.02599 0 0 4.02525 0 9C0 13.8465 3.87552 17.9204 8.85554 17.9982C8.94013 18.002 9.12386 17.9985 9.12741 17.9985C9.12888 17.9985 9.13514 17.9984 9.13679 17.9983C14.0497 17.9256 18 13.922 18 9ZM9 0.527344C13.6826 0.527344 17.4727 4.31677 17.4727 9C17.4727 10.9522 16.8164 12.8032 15.6091 14.3022C15.5881 13.3575 14.9755 12.5368 14.0707 12.2503L12.3649 11.7102C12.2684 11.6276 12.2938 11.6632 10.7234 10.8851V10.1543C11.4081 9.66815 11.8822 8.90072 11.9694 8.01584C12.2945 7.96071 12.5428 7.67707 12.5428 7.33655C12.5428 6.83149 12.5428 5.1711 12.5428 4.65304C12.5428 4.06216 12.0621 3.58147 11.4713 3.58147H11.4441C11.439 3.58147 11.4349 3.57736 11.4349 3.5723C11.4349 2.98143 10.9542 2.50073 10.3633 2.50073H7.57923C6.40856 2.50073 5.45618 3.45312 5.45618 4.62379C5.45618 4.7694 5.57423 4.88746 5.71985 4.88746C5.86547 4.88746 5.98352 4.7694 5.98352 4.62379C5.98352 3.74389 6.69934 3.02808 7.57923 3.02808H10.3633C10.6634 3.02808 10.9075 3.2722 10.9075 3.5723C10.9075 3.86814 11.1482 4.10882 11.4441 4.10882H11.4713C11.7714 4.10882 12.0155 4.35294 12.0155 4.65304V6.15357H11.7209C11.5563 6.15357 11.4224 6.01966 11.4224 5.8551V5.54745C11.4224 4.96266 10.8515 4.5501 10.2963 4.73361C9.46037 5.00991 8.53956 5.00998 7.70252 4.73347C7.14723 4.5501 6.57654 4.96266 6.57654 5.54734V5.8551C6.57654 6.0197 6.44263 6.15361 6.27806 6.15361H5.98349V5.84237C5.98349 5.69675 5.86543 5.5787 5.71982 5.5787C5.5742 5.5787 5.45614 5.69675 5.45614 5.84237V7.33658C5.45614 7.67714 5.70449 7.96075 6.02961 8.01591C6.11677 8.90082 6.59092 9.66821 7.27555 10.1544V10.8854C5.70839 11.662 5.7291 11.6293 5.63428 11.7105L3.92931 12.2503C3.02456 12.5368 2.41196 13.3575 2.39098 14.3023C1.18361 12.8032 0.527344 10.9522 0.527344 9C0.527344 4.3174 4.31677 0.527344 9 0.527344ZM5.97706 13.7489L6.18198 13.5444C6.39587 13.3309 6.44646 13.0069 6.30791 12.7383L5.98282 12.108L7.04827 11.5846C6.93489 12.0588 6.93858 12.58 6.99318 13.0684C6.99321 13.0688 6.99328 13.0692 6.99332 13.0695C7.12969 14.2874 7.62683 15.6689 8.12366 16.7889C7.30547 15.9655 6.21204 14.7544 5.93666 13.9148C5.9175 13.8565 5.933 13.7929 5.97706 13.7489ZM5.98345 6.68092H6.27803C6.73341 6.68092 7.10385 6.31044 7.10385 5.85506V5.5473C7.10385 5.32332 7.32203 5.16322 7.53813 5.23452C8.48081 5.5459 9.51912 5.54586 10.4618 5.23431C10.6754 5.16375 10.8951 5.32238 10.8951 5.54745V5.8551C10.8951 6.31048 11.2655 6.68092 11.7209 6.68092H12.0155V7.33655C12.0155 7.4257 11.943 7.4982 11.8538 7.4982C11.6417 7.4982 11.465 7.6647 11.4516 7.87729C11.3702 9.16734 10.2932 10.1779 8.99947 10.1779C7.70583 10.1779 6.62871 9.16734 6.54736 7.87729C6.53396 7.66473 6.35727 7.4982 6.14514 7.4982C6.05598 7.4982 5.98349 7.4257 5.98349 7.33655V6.68092H5.98345ZM8.99975 17.4124C8.82865 17.0692 8.5976 16.5802 8.36648 16.0129L8.79947 14.31H9.2005L9.6332 16.0124C9.40166 16.5809 9.17033 17.0703 8.99975 17.4124ZM8.65315 12.7027C8.50391 12.8274 8.19777 13.0831 7.95843 13.283C7.90847 13.3247 7.83693 13.3245 7.7875 13.2839L7.50881 12.9393C7.46272 12.4771 7.46729 11.9661 7.61164 11.5286L8.65315 12.7027ZM7.8724 13.8421C7.93962 13.8421 8.0068 13.8312 8.07173 13.8106L8.30679 14.1077L8.04125 15.1521C7.88917 14.7136 7.75206 14.2564 7.65127 13.8032C7.72267 13.8286 7.79737 13.8421 7.8724 13.8421ZM9.27341 13.7827H8.72205L8.5075 13.5115L9.02869 13.0761L9.50013 13.4792L9.27341 13.7827ZM10.0509 13.2563L9.40187 12.7014L10.3909 11.5383C10.5318 11.9728 10.5359 12.4761 10.4916 12.9287L10.2221 13.2589C10.1721 13.2992 10.1005 13.2988 10.0509 13.2563ZM8.99947 10.7052C9.42377 10.7052 9.82874 10.6153 10.1961 10.4538V10.9533L9.02644 12.3288L7.80286 10.9495V10.4537C8.17017 10.6153 8.57514 10.7052 8.99947 10.7052ZM9.95846 15.1513L9.69209 14.1033L9.93157 13.7828C9.99872 13.805 10.0684 13.8166 10.1381 13.8166C10.211 13.8166 10.2835 13.8038 10.3531 13.7798C10.2525 14.2379 10.1146 14.701 9.95846 15.1513ZM2.91727 14.8972V14.3523C2.91727 13.6176 3.38794 12.9748 4.08843 12.7531L5.49415 12.308C5.50821 12.3409 5.49376 12.3092 5.83924 12.9801C5.87211 13.0438 5.86013 13.1206 5.80943 13.1712L5.6045 13.3757C5.41877 13.5611 5.35402 13.8307 5.43558 14.0792C5.77213 15.1051 7.09611 16.5258 8.0048 17.4148C6.07549 17.1904 4.29476 16.3169 2.91727 14.8972ZM9.99461 17.4148C10.4846 16.9354 11.0989 16.2985 11.612 15.6535C11.7026 15.5395 11.6837 15.3737 11.5697 15.283C11.4558 15.1924 11.2899 15.2112 11.1992 15.3252C10.7852 15.8457 10.3012 16.3627 9.87465 16.7913C10.373 15.6684 10.872 14.2823 11.0071 13.0606C11.0071 13.0602 11.0072 13.0597 11.0072 13.0593C11.0608 12.5741 11.064 12.0574 10.9512 11.5846L12.0166 12.1081L11.6915 12.7384C11.553 13.007 11.6036 13.3309 11.8175 13.5444L12.0224 13.7489C12.0664 13.7929 12.0819 13.8565 12.0628 13.9148C12.0215 14.0408 11.9586 14.1822 11.876 14.3352C11.8067 14.4634 11.8545 14.6233 11.9826 14.6925C12.1108 14.7618 12.2707 14.714 12.3399 14.5859C12.4375 14.4053 12.5128 14.2348 12.5639 14.0792C12.6454 13.8306 12.5807 13.5611 12.3949 13.3757L12.19 13.1712C12.1393 13.1206 12.1274 13.0437 12.1602 12.9801C12.5031 12.314 12.4914 12.3403 12.5054 12.3079L13.9115 12.753C14.6121 12.9748 15.0827 13.6175 15.0827 14.3523V14.8972C13.7083 16.3137 11.9287 17.19 9.99461 17.4148Z" />
                                        </svg>
                                        My Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="active" href="/users/<%= user._id %>/resume/edit">
                                        <svg width="16" height="18" viewBox="0 0 16 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.82 1.24621H13.534V0.368701C13.534 0.165086 13.374 0 13.1767 0H8.00178C7.80442 0 7.6444 0.165086 7.6444 0.368701V1.24621H2.18003C1.10788 1.24621 0 1.83613 0 3.49529V15.7509C0 17.4101 1.12575 18 2.18003 18H13.82C14.8921 18 16 17.4101 16 15.7509V3.49898C16.0036 2.41131 15.4282 1.24621 13.82 1.24621ZM8.35916 0.737403H12.8193V7.20811L10.8179 5.47522C10.6848 5.3593 10.49 5.3593 10.3569 5.47522L8.35559 7.20811L8.35916 0.737403ZM13.8235 17.2626H2.18003C1.63323 17.2626 0.714764 17.0672 0.714764 15.7509V3.49898C0.714764 2.18271 1.63323 1.9873 2.18003 1.9873H7.6444V8.00819C7.64408 8.21181 7.80383 8.37717 8.0012 8.37749C8.08496 8.37763 8.16613 8.3474 8.2305 8.29209L10.5892 6.25317L12.9479 8.29209C13.0996 8.42243 13.3249 8.40123 13.4513 8.24476C13.5049 8.17835 13.5342 8.09461 13.534 8.00819V1.98361H13.82C15.0958 1.98361 15.2852 2.93118 15.2852 3.49529L15.2888 15.7509C15.2888 17.0672 14.3703 17.2626 13.8235 17.2626Z" />
                                            <path
                                                d="M6.3003 4.52417H2.03316C1.8358 4.52417 1.67578 4.68926 1.67578 4.89287C1.67578 5.09649 1.8358 5.26157 2.03316 5.26157H6.3003C6.49767 5.26157 6.65768 5.09649 6.65768 4.89287C6.65768 4.68926 6.49767 4.52417 6.3003 4.52417Z" />
                                            <path
                                                d="M6.3003 7.04224H2.03316C1.8358 7.04224 1.67578 7.20732 1.67578 7.41094C1.67578 7.61455 1.8358 7.77964 2.03316 7.77964H6.3003C6.49767 7.77964 6.65768 7.61455 6.65768 7.41094C6.65768 7.20732 6.49767 7.04224 6.3003 7.04224Z" />
                                            <path
                                                d="M13.3336 9.5603H2.03316C1.8358 9.5603 1.67578 9.72539 1.67578 9.929C1.67578 10.1326 1.8358 10.2977 2.03316 10.2977H13.3336C13.5309 10.2977 13.691 10.1326 13.691 9.929C13.691 9.72539 13.5309 9.5603 13.3336 9.5603Z" />
                                            <path
                                                d="M13.3336 12.0645H2.03316C1.8358 12.0645 1.67578 12.2295 1.67578 12.4332C1.67578 12.6368 1.8358 12.8019 2.03316 12.8019H13.3336C13.5309 12.8019 13.691 12.6368 13.691 12.4332C13.691 12.2295 13.5309 12.0645 13.3336 12.0645Z" />
                                            <path
                                                d="M13.3336 14.6006H2.03316C1.8358 14.6006 1.67578 14.7657 1.67578 14.9693C1.67578 15.1729 1.8358 15.338 2.03316 15.338H13.3336C13.5309 15.338 13.691 15.1729 13.691 14.9693C13.691 14.7657 13.5309 14.6006 13.3336 14.6006Z" />
                                        </svg>
                                        Edit Resume
                                    </a>
                                </li>
                                <li>
                                    <a href="/users/<%= user._id %>/resume">
                                        <svg width="18" height="18" viewBox="0 0 18 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_821_78)">
                                                <path
                                                    d="M9.00001 13.345C10.5399 13.345 11.7931 12.0918 11.7931 10.5519C11.7931 10.3135 11.7615 10.0702 11.6994 9.82879C11.686 9.77667 11.6593 9.72893 11.6219 9.69025C11.5845 9.65158 11.5376 9.62329 11.486 9.60817C11.4344 9.59306 11.3797 9.59163 11.3273 9.60403C11.2749 9.61642 11.2267 9.64222 11.1873 9.67889C11.0152 9.84063 10.7879 9.93083 10.5517 9.9312C10.0384 9.9312 9.6207 9.51348 9.6207 9.00017C9.6207 8.76493 9.71039 8.539 9.8727 8.36427C9.90937 8.32489 9.93517 8.27665 9.94757 8.22429C9.95997 8.17193 9.95854 8.11724 9.94342 8.0656C9.9283 8.01395 9.90002 7.96713 9.86134 7.92972C9.82266 7.89231 9.77492 7.86559 9.72281 7.8522C9.48672 7.79099 9.2439 7.75961 9.00001 7.75879C7.46008 7.75879 6.20691 9.01196 6.20691 10.5519C6.20691 12.0918 7.46008 13.345 9.00001 13.345ZM9.00001 8.37948C9.04253 8.37948 9.08536 8.38072 9.1285 8.38351C9.04371 8.57804 8.99997 8.78797 9.00001 9.00017C9.00001 9.85579 9.69612 10.5519 10.5517 10.5519C10.7659 10.5519 10.9754 10.5075 11.1684 10.4234C11.1855 10.7189 11.1422 11.0148 11.041 11.2929C10.9398 11.5711 10.7829 11.8256 10.5799 12.041C10.3769 12.2564 10.1321 12.4281 9.86045 12.5456C9.58878 12.6631 9.29599 12.7239 9.00001 12.7243C7.80208 12.7243 6.8276 11.7498 6.8276 10.5519C6.8276 9.35396 7.80208 8.37948 9.00001 8.37948Z" />
                                                <path
                                                    d="M17.9423 10.3713C17.8116 10.1886 14.6806 5.89648 9 5.89648C3.31945 5.89648 0.188379 10.1886 0.0577235 10.3713C0.0201608 10.424 -3.05176e-05 10.487 -3.05176e-05 10.5517C-3.05176e-05 10.6163 0.0201608 10.6793 0.0577235 10.732C0.0847235 10.7701 0.737068 11.6745 1.97814 12.6682C2.00997 12.6937 2.0465 12.7126 2.08566 12.724C2.12481 12.7353 2.16582 12.7389 2.20634 12.7344C2.24685 12.7299 2.28609 12.7174 2.3218 12.6978C2.35752 12.6781 2.38901 12.6516 2.41448 12.6198C2.43995 12.588 2.45891 12.5514 2.47026 12.5123C2.48161 12.4731 2.48514 12.4321 2.48065 12.3916C2.47615 12.3511 2.46372 12.3118 2.44406 12.2761C2.4244 12.2404 2.3979 12.2089 2.36607 12.1834C1.51386 11.5013 0.949034 10.8552 0.703241 10.5517C1.20817 9.93097 3.05969 7.87307 6.04055 6.96035C5.00555 7.81504 4.34483 9.10762 4.34483 10.5517C4.34483 13.1185 6.43314 15.2068 9 15.2068C11.5669 15.2068 13.6552 13.1185 13.6552 10.5517C13.6552 9.10886 12.9954 7.81721 11.9616 6.96283C14.9363 7.87679 16.7906 9.93221 17.2964 10.5523C17.0503 10.8561 16.4855 11.5016 15.6336 12.1838C15.5693 12.2352 15.5281 12.3101 15.519 12.3919C15.51 12.4737 15.5338 12.5558 15.5852 12.6201C15.6366 12.6844 15.7115 12.7256 15.7934 12.7347C15.8752 12.7438 15.9573 12.72 16.0216 12.6685C17.2629 11.6748 17.915 10.7701 17.942 10.7323C17.9796 10.6797 17.9999 10.6166 18 10.5519C18 10.4871 17.9799 10.424 17.9423 10.3713ZM13.0345 10.5517C13.0345 12.7762 11.2246 14.5861 9 14.5861C6.77545 14.5861 4.96552 12.7762 4.96552 10.5517C4.96552 8.3271 6.77545 6.51717 9 6.51717C11.2246 6.51717 13.0345 8.32679 13.0345 10.5517Z" />
                                                <path
                                                    d="M2.69564 7.42362C4.0115 6.44386 6.17337 5.27573 8.99999 5.27573C11.8266 5.27573 13.9885 6.44386 15.3043 7.42362C15.3703 7.47276 15.4532 7.49366 15.5346 7.48173C15.616 7.4698 15.6894 7.42601 15.7385 7.36C15.7876 7.29399 15.8085 7.21116 15.7966 7.12974C15.7847 7.04832 15.7409 6.97497 15.6749 6.92583C15.4014 6.72231 15.1193 6.53055 14.8295 6.35107L15.3329 5.47745C15.3532 5.44214 15.3664 5.40316 15.3717 5.36274C15.377 5.32233 15.3743 5.28126 15.3637 5.2419C15.3532 5.20253 15.3349 5.16563 15.3101 5.13331C15.2853 5.10099 15.2543 5.07388 15.219 5.05352C15.1837 5.03316 15.1447 5.01996 15.1043 5.01467C15.0639 5.00937 15.0228 5.01209 14.9834 5.02267C14.9441 5.03325 14.9072 5.05147 14.8748 5.07631C14.8425 5.10114 14.8154 5.1321 14.7951 5.16742L14.2929 6.03886C13.6224 5.669 12.9162 5.36788 12.1851 5.14011L12.4929 3.994C12.5035 3.95463 12.5062 3.91357 12.5009 3.87316C12.4955 3.83275 12.4823 3.79378 12.4619 3.75847C12.4416 3.72317 12.4144 3.69223 12.3821 3.66741C12.3498 3.64259 12.3129 3.62439 12.2735 3.61383C12.2341 3.60327 12.1931 3.60058 12.1527 3.60589C12.1122 3.61121 12.0733 3.62443 12.038 3.6448C12.0027 3.66518 11.9717 3.6923 11.9469 3.72464C11.9221 3.75697 11.9039 3.79388 11.8933 3.83324L11.5876 4.97159C10.8417 4.78755 10.0781 4.68413 9.31002 4.66311V3.10331C9.31002 3.021 9.27732 2.94207 9.21912 2.88387C9.16092 2.82567 9.08198 2.79297 8.99968 2.79297C8.91737 2.79297 8.83843 2.82567 8.78023 2.88387C8.72203 2.94207 8.68933 3.021 8.68933 3.10331V4.66311C7.87468 4.68669 7.11278 4.79718 6.41171 4.97159L6.10602 3.83324C6.08204 3.75678 6.02944 3.69255 5.95921 3.65395C5.88898 3.61536 5.80655 3.6054 5.72915 3.62616C5.65175 3.64691 5.58537 3.69677 5.54386 3.76532C5.50236 3.83387 5.48895 3.9158 5.50643 3.994L5.8143 5.14011C5.0831 5.36767 4.37687 5.6688 3.70643 6.03886L3.2043 5.16742C3.18394 5.1321 3.15683 5.10114 3.1245 5.07631C3.09218 5.05147 3.05529 5.03325 3.01592 5.02267C2.97655 5.01209 2.93549 5.00937 2.89507 5.01467C2.85466 5.01996 2.81568 5.03316 2.78037 5.05352C2.74505 5.07388 2.71409 5.10099 2.68926 5.13331C2.66442 5.16563 2.64619 5.20253 2.63562 5.2419C2.62504 5.28126 2.62232 5.32233 2.62762 5.36274C2.63291 5.40316 2.64611 5.44214 2.66647 5.47745L3.16985 6.35107C2.8595 6.54349 2.57678 6.73807 2.32447 6.92583C2.29178 6.9502 2.26422 6.98077 2.24335 7.0158C2.22248 7.05082 2.20871 7.08961 2.20283 7.12996C2.19695 7.17031 2.19908 7.21141 2.20908 7.25094C2.21909 7.29046 2.23679 7.32763 2.26116 7.36031C2.28553 7.393 2.3161 7.42056 2.35113 7.44143C2.38615 7.46231 2.42494 7.47607 2.46529 7.48195C2.50563 7.48783 2.54674 7.48571 2.58627 7.4757C2.62579 7.46569 2.66296 7.44799 2.69564 7.42362Z" />
                                            </g>
                                        </svg>
                                        View Resume
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <svg width="18" height="18" viewBox="0 0 18 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12.5998 12.3312C12.6886 12.3312 12.7773 12.2972 12.845 12.2297L15.8352 9.24479C15.9708 9.10944 15.9708 8.89067 15.8352 8.75532C15.6996 8.61997 15.4805 8.61997 15.3449 8.75532L12.3546 11.7403C12.219 11.8756 12.219 12.0944 12.3546 12.2297C12.4222 12.2972 12.511 12.3312 12.5998 12.3312Z" />
                                            <path
                                                d="M4.90684 14.234C5.0986 14.234 5.25361 14.0789 5.25361 13.8878V4.11227C5.25361 3.92119 5.0986 3.76611 4.90684 3.76611C4.71507 3.76611 4.56006 3.92119 4.56006 4.11227V13.8878C4.56006 14.0789 4.71541 14.234 4.90684 14.234Z" />
                                            <path
                                                d="M15.3449 9.24487C15.4125 9.31237 15.5013 9.34629 15.5901 9.34629C15.6788 9.34629 15.7676 9.31237 15.8352 9.24487C15.9708 9.10952 15.9708 8.89075 15.8352 8.7554L12.845 5.77046C12.7094 5.63511 12.4902 5.63511 12.3546 5.77046C12.219 5.90581 12.219 6.12458 12.3546 6.25993L15.3449 9.24487Z" />
                                            <path
                                                d="M5.3521 14.6783C5.54387 14.6783 5.69888 14.5232 5.69888 14.3321C5.69888 14.1411 5.54387 13.986 5.3521 13.986C5.298 13.986 5.25361 13.942 5.25361 13.8877C5.25361 13.6966 5.0986 13.5415 4.90684 13.5415C4.71507 13.5415 4.56006 13.6966 4.56006 13.8877C4.55971 14.3238 4.91516 14.6783 5.3521 14.6783Z" />
                                            <path
                                                d="M4.90684 4.45857C5.0986 4.45857 5.25361 4.30349 5.25361 4.11241C5.25361 4.05841 5.298 4.0141 5.3521 4.0141C5.54387 4.0141 5.69887 3.85902 5.69887 3.66794C5.69887 3.47686 5.54387 3.32178 5.3521 3.32178C4.91516 3.32178 4.56006 3.67625 4.56006 4.11241C4.56006 4.30383 4.71541 4.45857 4.90684 4.45857Z" />
                                            <path
                                                d="M1.07876 4.70121C-0.476885 7.54976 -0.340602 11.1554 1.42658 13.8866C2.73635 15.9113 4.84684 17.3461 7.21672 17.8231C7.80658 17.9418 8.402 18 8.99499 18C10.9213 18 12.8179 17.3842 14.3853 16.2194C14.5386 16.1051 14.5705 15.8881 14.456 15.7351C14.3419 15.5821 14.1252 15.5502 13.9709 15.6641C12.0792 17.0702 9.66774 17.6099 7.35369 17.1443C5.16622 16.7043 3.21803 15.3799 2.00916 13.511C0.378268 10.9899 0.252041 7.66192 1.6877 5.03248C3.13168 2.38851 5.99988 0.691629 9.01198 0.691629C9.03834 0.691629 9.06504 0.691629 9.09174 0.691975C12.1704 0.722783 15.0528 2.51659 16.4351 5.26199C17.7924 7.95788 17.5503 11.2956 15.8185 13.7647C15.7089 13.9215 15.7467 14.1372 15.9038 14.2469C16.0599 14.3563 16.277 14.3186 16.3869 14.1618C18.263 11.4866 18.5251 7.87134 17.0551 4.95079C15.5584 1.979 12.4392 0.0363469 9.10631 0H8.99326C5.73771 0.00726937 2.6396 1.8433 1.07876 4.70121Z" />
                                            <path
                                                d="M15.9368 9.00021C15.9368 8.80913 15.7817 8.65405 15.59 8.65405H7.13242C6.94065 8.65405 6.78564 8.80913 6.78564 9.00021C6.78564 9.19129 6.94065 9.34637 7.13242 9.34637H15.59C15.7817 9.34637 15.9368 9.19129 15.9368 9.00021Z" />
                                            <path
                                                d="M8.46794 13.9858H5.35215C5.16038 13.9858 5.00537 14.1409 5.00537 14.332C5.00537 14.5231 5.16038 14.6782 5.35215 14.6782H8.46794C8.65971 14.6782 8.81472 14.5231 8.81472 14.332C8.81472 14.1409 8.65971 13.9858 8.46794 13.9858Z" />
                                            <path
                                                d="M5.35215 4.01434H8.46794C8.65971 4.01434 8.81472 3.85926 8.81472 3.66818C8.81472 3.4771 8.65971 3.32202 8.46794 3.32202H5.35215C5.16038 3.32202 5.00537 3.4771 5.00537 3.66818C5.00537 3.85926 5.16038 4.01434 5.35215 4.01434Z" />
                                            <path
                                                d="M14.9721 14.7846C14.9097 14.8504 14.8716 14.9404 14.8716 15.0304C14.8716 15.1204 14.9097 15.2104 14.9756 15.2727C15.0384 15.3385 15.1282 15.3766 15.2184 15.3766C15.3123 15.3766 15.4022 15.3385 15.4646 15.2762C15.5305 15.2104 15.5651 15.1204 15.5651 15.0304C15.5651 14.9369 15.5305 14.8504 15.4646 14.7846C15.3363 14.6565 15.107 14.6531 14.9721 14.7846Z" />
                                        </svg>
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="edit-profile-inner">
                    <div class="form-wrapper">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                    aria-selected="true"><span></span>Basic Information:</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile"
                                    aria-selected="false"><span></span>Projects</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                    type="button" role="tab" aria-controls="contact"
                                    aria-selected="false"><span></span>Education</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="professional-tab" data-bs-toggle="tab"
                                    data-bs-target="#professional" type="button" role="tab" aria-controls="professional"
                                    aria-selected="false"><span></span>Professional
                                    Info</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <form class="edit-profile-form profile-form  mb-60"
                                    action="/users/<%= user._id %>/resume?_method=PATCH" method="post"
                                    enctype="multipart/form-data">
                                    <% if (resume.name) { %>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="firstname1">First Name*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" id="firstname1" name="firstname"
                                                        placeholder="Mrs. Jacoline"
                                                        value="<%= resume.name.split(' ')[0] %>" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="lastname">Last Name*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" id="lastname" name="lastname"
                                                        placeholder="Frankly" value="<%= resume.name.split(' ')[1] %>"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-2 col-lg-12 position-relative">
                                            <!-- <div class="drag-area"> -->
                                            <!-- <p>Upload Images</p> -->
                                            <!-- <button type="button" class="upload-btn"><i
                                                        class="bi bi-plus-lg"></i></button> -->
                                            <label class="drag-area upload-btn">
                                                <input style="display: none;" name="image" type="file">
                                                <p>Upload Images</p>
                                            </label>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="desigation">Position*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/designation-2.svg" alt="">
                                                    <input type="text" id="desigation" name="resume[position]"
                                                        placeholder="UI/UX Engineer" value="<%= resume.position %>"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="email1">Email*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/email-2.svg" alt="">
                                                    <input type="text" id="email1" name="resume[email]"
                                                        placeholder="info@example.com" value="<%= resume.email %>"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="phonenumber">Phone Number*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/phone-2.svg" alt="">
                                                    <input type="text" id="phonenumber" name="resume[phone]"
                                                        placeholder="+880-17 *** *** **" value="<%= resume.phone %>"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="website">Website Link*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/website-2.svg" alt="">
                                                    <input type="text" id="website" name="resume[website]"
                                                        placeholder="https://example.com/" value="<%= resume.website %>"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-inner mb-25">
                                                <label for="resumeObjective">Career Objective*</label>
                                                <textarea name="resume[objective]" id="resumeObjective"
                                                    placeholder="Something About Yourself...."
                                                    required><%= resume.objective %></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-inner mb-50">
                                                <label for="resumeSkills">Skills*</label>
                                                <textarea name="resume[skills]" id="resumeSkills"
                                                    placeholder="Showcase Your Skills...."
                                                    required><%= resume.skills %></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-inner">
                                                <button class="primry-btn-2 lg-btn w-unset" type="submit">Update
                                                    Resume</button>
                                            </div>
                                        </div>
                                    </div>
                                    <% } else { %>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="firstname1">First Name*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" id="firstname1" name="firstname"
                                                        placeholder="Mrs. Jacoline" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="lastname">Last Name*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" id="lastname" name="lastname"
                                                        placeholder="Frankly" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-2 col-lg-12 position-relative">
                                            <div class="drag-area">
                                                <p>Upload Images</p>
                                                <button type="button" class="upload-btn"><i
                                                        class="bi bi-plus-lg"></i></button>
                                                <input type="file" name="image" hidden>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="desigation">Position*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/designation-2.svg" alt="">
                                                    <input type="text" id="desigation" name="resume[position]"
                                                        placeholder="UI/UX Engineer" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="email1">Email*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/email-2.svg" alt="">
                                                    <input type="text" id="email1" name="resume[email]"
                                                        placeholder="info@example.com" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="phonenumber">Phone Number*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/phone-2.svg" alt="">
                                                    <input type="text" id="phonenumber" name="resume[phone]"
                                                        placeholder="+880-17 *** *** **" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label for="website">Website Link*</label>
                                                <div class="input-area">
                                                    <img src="/assets/images/icon/website-2.svg" alt="">
                                                    <input type="text" id="website" name="resume[website]"
                                                        placeholder="https://example.com/" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-inner mb-25">
                                                <label for="resumeObjective">Career Objective*</label>
                                                <textarea name="resume[objective]" id="resumeObjective"
                                                    placeholder="Something About Yourself...." required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-inner mb-50">
                                                <label for="resumeSkills">Skills*</label>
                                                <textarea name="resume[skills]" id="resumeSkills"
                                                    placeholder="Showcase Your Skills...." required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-inner">
                                                <button class="primry-btn-2 lg-btn w-unset" type="submit">Update
                                                    Resume</button>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <form class="edit-profile-form profile-form"
                                    action="/users/<%= user._id %>/resume?_method=PATCH" method="post">
                                    <div class="section-title2">
                                        <h5>Project Information:</h5>
                                    </div>
                                    <div class="projects-row">
                                        <% if (resume.projects) { %>
                                        <% for( let project of resume.projects ) { %>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="info-title">
                                                    <h6>Add Your Projects</h6>
                                                    <div class="dash"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="companies">Project Title*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/company-2.svg" alt="">
                                                        <input type="text" id="companies" name="project[name]"
                                                            placeholder="HireHub" value="<%= project.name %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="desigation">Link*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/designation-2.svg" alt="">
                                                        <input type="text" id="desigation" name="project[link]"
                                                            placeholder="https://app.netlify.com"
                                                            value="<%= project.link %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-inner mb-20">
                                                    <label for="stack">Stack*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/major.svg" alt="">
                                                        <input type="text" id="stack" name="project[stack]"
                                                            placeholder="MERN" value="<%= project.stack %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-inner mb-20">
                                                    <label for="summernote1">Description**</label>
                                                    <textarea name="project[description]" class="summernote1"
                                                        placeholder="Write Your Project Description..."
                                                        required><%= project.description %></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } else { %>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="info-title">
                                                    <h6>Add Your Projects</h6>
                                                    <div class="dash"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="companies">Project Title*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/company-2.svg" alt="">
                                                        <input type="text" id="companies" name="project[name]"
                                                            placeholder="HireHub" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="desigation">Link*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/designation-2.svg" alt="">
                                                        <input type="text" id="desigation" name="project[link]"
                                                            placeholder="https://app.netlify.com" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-inner mb-20">
                                                    <label for="stack">Stack*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/major.svg" alt="">
                                                        <input type="text" id="stack" name="project[stack]"
                                                            placeholder="MERN" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-inner mb-20">
                                                    <label for="summernote1">Description**</label>
                                                    <textarea name="project[description]" id="summernote1"
                                                        placeholder="Write Your Project Description..."
                                                        required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div class="add-remove-btn d-flex align-items-center justify-content-between mb-50">
                                        <div class="add-row">
                                            <button type="button" class="add-projects-row">Add New+ </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-inner">
                                            <button class="primry-btn-2 lg-btn w-unset" type="submit">Update
                                                Change</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <form class="edit-profile-form profile-form"
                                    action="/users/<%= user._id %>/resume?_method=PATCH" method="post">
                                    <div class="section-title2">
                                        <h5>Educational Qualification:</h5>
                                    </div>
                                    <div class="education-row">
                                        <% if (resume.education) { %>
                                        <% for( let edu of resume.education ) { %>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="info-title">
                                                    <h6>Academic Information:</h6>
                                                    <div class="dash"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label>Education Level*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/qualification-2.svg" alt="">
                                                        <input type="text" id="level" name="education[level]"
                                                            placeholder="Type Your Education Level..."
                                                            value="<%= edu.level %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label>My Major*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/major.svg" alt="">
                                                        <input type="text" id="major" name="education[major]"
                                                            placeholder="Type Your Education Major..."
                                                            value="<%= edu.major %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="institute">Institute/University*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/univercity.svg" alt="">
                                                        <input type="text" id="institute" name="education[institute]"
                                                            placeholder="Type Your Institute Name..."
                                                            value="<%= edu.institute %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-30">
                                                    <label for="gpa">Result Percentage/GPA**</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/gpa-2.svg" alt="">
                                                        <input type="text" id="gpa" name="education[result]"
                                                            placeholder="9.5/10" value="<%= edu.result %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-20">
                                                    <label for="datepicker10">Starting Period*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/calender2.svg" alt="">
                                                        <input type="text" id="datepicker10" name="education[start]"
                                                            placeholder="DD/MM/YY" value="<%= edu.start %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-20">
                                                    <label for="datepicker11">Ending Period*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/calender2.svg" alt="">
                                                        <input type="text" id="datepicker11" name="education[end]"
                                                            placeholder="DD/MM/YY" value="<%= edu.end %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } else { %>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="info-title">
                                                    <h6>Academic Information:</h6>
                                                    <div class="dash"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label>Education Level*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/qualification-2.svg" alt="">
                                                        <input type="text" id="level" name="education[level]"
                                                            placeholder="Type Your Education Level..." required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label>My Major*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/major.svg" alt="">
                                                        <input type="text" id="major" name="education[major]"
                                                            placeholder="Type Your Education Major..." required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="institute">Institute/University*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/univercity.svg" alt="">
                                                        <input type="text" id="institute" name="education[institute]"
                                                            placeholder="Type Your Institute Name..." required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-30">
                                                    <label for="gpa">Result Percentage/GPA**</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/gpa-2.svg" alt="">
                                                        <input type="text" id="gpa" name="education[result]"
                                                            placeholder="9.5/10" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-20">
                                                    <label for="datepicker10">Starting Period*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/calender2.svg" alt="">
                                                        <input type="text" id="datepicker10" name="education[start]"
                                                            placeholder="DD/MM/YY" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-20">
                                                    <label for="datepicker11">Ending Period*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/calender2.svg" alt="">
                                                        <input type="text" id="datepicker11" name="education[end]"
                                                            placeholder="DD/MM/YY" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div class="add-remove-btn d-flex align-items-center justify-content-between mb-50">
                                        <div class="add-row">
                                            <button type="button" class="add-education-row">Add Education+</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-inner">
                                            <button class="primry-btn-2 lg-btn w-unset" type="submit">Update
                                                Change</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="professional" role="tabpanel"
                                aria-labelledby="professional-tab">
                                <form class="edit-profile-form profile-form"
                                    action="/users/<%= user._id %>/resume?_method=PATCH" method="post">
                                    <div class="section-title2">
                                        <h5>Employment Information:</h5>
                                    </div>
                                    <div class="experiences-row">
                                        <% if (resume.experience) { %>
                                        <% for( let exp of resume.experience ) { %>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="info-title">
                                                    <h6>Add Your Experiences</h6>
                                                    <div class="dash"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="companies">Company Name*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/company-2.svg" alt="">
                                                        <input type="text" id="companies" name="experience[company]"
                                                            placeholder="Google" value="<%= exp.company %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="desigation">Designation*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/designation-2.svg" alt="">
                                                        <input type="text" id="desigation" name="experience[position]"
                                                            placeholder="SDE" value="<%= exp.position %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-20">
                                                    <label for="datepicker6">Starting Period*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/calender2.svg" alt="">
                                                        <input type="text" id="datepicker6" name="experience[start]"
                                                            placeholder="DD/MM/YY" value="<%= exp.start %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-20">
                                                    <label for="datepicker7">Ending Period*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/calender2.svg" alt="">
                                                        <input type="text" id="datepicker7" name="experience[end]"
                                                            placeholder="DD/MM/YY" value="<%= exp.end %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-inner mb-20">
                                                    <label for="summernote1">Responsibility**</label>
                                                    <textarea name="experience[responsibility]" class="summernote1"
                                                        placeholder="Write Your Responsibility..."
                                                        required><%= exp.responsibility %></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } else { %>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="info-title">
                                                    <h6>Add Your Experiences</h6>
                                                    <div class="dash"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="companies">Company Name*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/company-2.svg" alt="">
                                                        <input type="text" id="companies" name="experience[company]"
                                                            placeholder="Google" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-25">
                                                    <label for="desigation">Designation*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/designation-2.svg" alt="">
                                                        <input type="text" id="desigation" name="experience[position]"
                                                            placeholder="SDE" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-20">
                                                    <label for="datepicker6">Starting Period*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/calender2.svg" alt="">
                                                        <input type="text" id="datepicker6" name="experience[start]"
                                                            placeholder="DD/MM/YY" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-inner mb-20">
                                                    <label for="datepicker7">Ending Period*</label>
                                                    <div class="input-area">
                                                        <img src="/assets/images/icon/calender2.svg" alt="">
                                                        <input type="text" id="datepicker7" name="experience[end]"
                                                            placeholder="DD/MM/YY" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-inner mb-20">
                                                    <label for="summernote1">Responsibility**</label>
                                                    <textarea name="experience[responsibility]" id="summernote1"
                                                        placeholder="Write Your Responsibility..." required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div class="add-remove-btn d-flex align-items-center justify-content-between mb-50">
                                        <div class="add-row">
                                            <button type="button" class="add-experiences-row">Add New+ </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-inner">
                                            <button class="primry-btn-2 lg-btn w-unset" type="submit">Update
                                                Change</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="/assets/js/drop-zone.js"></script> -->
<%- include('../partials/footerBox'); -%>
<%- include('../partials/footer'); -%>